body
{
background-position: center;
background-size: cover;
}

.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
opacity: 0.7;
color: white;
background-color: lightblue;
height: 75px;
}
.input
{
	border-radius: 200px;
	width: 450px;
	height: 30px;
	color: white;
	margin: 0px;
	background-color: transparent;
	border: 5px solid white;
	font-family: cursive;
	height: 40px;
	padding-left: 25px;
	float: center;
	font-weight: bold;
}

.div
{
	color: white;
	font-family: cursive;
	opacity: 0.3;;
	width: 100%;
}

#status , #number_of_objects
{
font-size: 18px;
}

canvas
{
box-shadow: 5px 5px 5px lightgrey;
border-radius: 10px;
margin-top: 180px;
border: 2px solid blueviolet;
background-color: white;
}

